<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATLA Typing Game</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="typingGame">
    <div id="header">
      <h1>Avatar The Last Airbender
        <br>Typing Game
      </h1>
      <p1><em>The game will <b>Start</b> once you <b>Press a key</b></em></p1>
    </div>
    <div>
      <input 
      ref="userInput" 
      v-model="userInput" 
      type="text" 
      :disabled="correctlyTypedWords.length === quoteWords.length"
      >
      <div v-if="isLoading" class="loading-spinner"></div>
      <p v-if="!isLoading">
        <span 
          v-for="(charObj, index) in quoteCharacters" 
          :key="index"
          :class="{
            'default': charObj.isDefault,
            'correct': charObj.isDefault ? false : charObj.isCorrect, 
            'incorrect': charObj.isDefault ? false : charObj.isIncorrect,
          }"
        >
          {{ charObj.char }}
        </span>
        <br>
          <byWho @click="changeImg">
            - {{randomQuoteByWho}}
          </byWho>
          <img src="./copy-text.svg" class="copyTextButton" @click="copyText">
          <p2 id="copyMsgId" class="copyMsg">Copied!</p2>
        </br>
        <button @click="getRandomQuote" class="tryAgainButton">Try Again!</button>
      </p>
    </div>
    <div id="endModalId" class="endModal" @click="closeModal">
      <div class="endModal-content" @click="insideClick">
        <span @click="closeModal" class="close-btn">&times;</span>
        <h2>You finished!</h2>
        <p3>
          You have a <em><b>{{ typingSpeed }} wpm</b></em> average!
          <br><br>Highscore: <em><b>{{highScore}} wpm</b></em>
          <br>
          <p4 id="savedMsgId" class="savedMsg">Saved!</p4>
          <button @click="saveHighScore" class="saveHighScoreButton">Save highscore</button>
        </p3>
      </div>
    </div>
    <div id="byWhoModalId" class="byWhoModal" @click="closeModal">
      <div class="byWhoModal-content" @click="insideClick">
        <span @click="closeModal" class="close-btn">&times;</span>
        <p v-if="imgLoading" class="img-loading-spinner"></p>
        <img v-if ="!imgLoading" :src="imageSource">
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="app.js"></script>
</body>
</html>